<div class="map-page">
  <div class="form-container">
    <form [formGroup]="coordinatesForm" class="coordinate-form">
      <mat-form-field class="coordinate-x-input">
        <mat-label>Coordinate X</mat-label>
        <input matInput #coordinateXInput  placeholder="Write coordinate X" type="text" formControlName="coordinateX">
        <mat-error *ngIf="isCoordinateXInvalid">Invalid coordinate x</mat-error>
      </mat-form-field>

      <mat-form-field class="coordinate-y-input">
        <mat-label>Coordinate Y</mat-label>
        <input matInput placeholder="Write coordinate Y" type="text" formControlName="coordinateY">
        <mat-error *ngIf="isCoordinateYInvalid">Invalid coordinate Y</mat-error>
      </mat-form-field>

      <button mat-raised-button class="search-btn" (click)="setMarkerByCoordinates()">Search</button>
    </form>
  </div>

  <div id="map" class="map"></div>

  <div class="overlay-and-file-control-container">
    <div class="overlay-block">
      <mat-form-field
        cdkOverlayOrigin
        #overlay="cdkOverlayOrigin"
        [class.overlay-input-active]="showOverlay | async">
        <mat-label>Type of figure to display</mat-label>
        <input #overlayInput matInput type="text" [formControl]="overlayControl">
        <mat-icon matSuffix>arrow_drop_down</mat-icon>
      </mat-form-field>
      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="overlay"
        [cdkConnectedOverlayHasBackdrop]="true"
        [cdkConnectedOverlayOffsetY]="-28"
        [cdkConnectedOverlayOpen]="(showOverlay | async) || false">
        <ul class="overlay-list">
          <li class="list" *ngFor="let item of itemKind" (click)="getSelectedValueFromOverlay(item)">{{item}}</li>
        </ul>
      </ng-template>
    </div>

    <div class="file-control-block">
      <button mat-raised-button class="save-in-file-btn" [disabled]="isSaveGeoDataButtonDisabled" (click)="saveGeoDataInFile()">Save polygons in file</button>
      <button mat-raised-button class="load-from-file-btn" (click)="fileInput.click()">Load polygons from file</button>
      <input hidden id="file" type="file" #fileInput [formControl]="fileControl" (change)="getGeoDataFromFile($event)">

      <button mat-raised-button class="next-page-btn" matTooltip="Another map" (click)="watchSecondMap()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
</div>


